/* this is a css file*/

html, body{
    margin:0;
    padding:0;
}

body{
    font-family: "Times New Roman",Arial, Helvetica, sans-serif;
}

.Input{
    position:relative;
    left: 130px;
    bottom:60px; 
}

.SearchButton{
    position: relative;
    left: 713px;
    background: #4285f4;
    border-radius: 0px 3px 3px 0px;
    width: 15px;
    height: 15px;
    padding: 5px 35px 18px 0px;
    margin-right: 40px;
    bottom: 97.2px;
    
}

.Googleimg{
    border-style: solid;
    border-width: 1px;
    border-color:#f1f1f1;
    background-color: #f1f1f1;
    background-position: static;
    
}

.ExtraOptions{
    font-size: 17px;
    position:relative;
    bottom: 58px;
}

.Line{
    position: relative;
    right: 120px;
    bottom: 45px;
    color: #ebebeb;
    opacity: .1;
}


.SearchResults{
    position:relative;
    left:120px;
    top:50px;    
}


.Link0:hover{
    text-decoration: underline;
    color:blue;
}

.Link1:hover{
    text-decoration: underline;
    color:blue;
}

.Link2:hover{
    text-decoration: underline;
    color:blue;
}

.Link3:hover{
    text-decoration: underline;
    color:blue;
}

.Link4:hover{
    text-decoration: underline;
    color:blue;
}

.Link5:hover{
    text-decoration: underline;
    color:blue;
}

.Link6:hover{
    text-decoration: underline;
    color:blue;
}

.Link7:hover{
    text-decoration: underline;
    color:blue;
}

.Link8:hover{
    text-decoration:underline;
    color:blue;
}

.Link9:hover{
    text-decoration:underline;
    color:blue;
}

.Link10:hover{
    text-decoration:underline;
    color:blue;
}

a{
    font-size: 18px; 
}

.Fix1{
    position:relative;
    left:145px;
    bottom:20px;
}

.Fix2{
    position:relative;
    bottom:20px;
    
}

.Line2{
    position: relative;
    width: 550px;
    bottom: 40px;
    color: #ededed;
    opacity: .1;
    
}

.Option1{
    position: relative;
    top: 5px;
}

.Elink1:hover{
    text-decoration: underline;
    color: blue;
}

.Elink2:hover{
    text-decoration: underline;
    color:blue;
}

.Elink3:hover{
    text-decoration: underline;
    color:blue;
}

.Elink4:hover{
    text-decoration: underline;
    color:blue;
}

.Option2{
    position:relative;
    left:270px;
    bottom:92px;
}

.Elink5:hover{
    text-decoration: underline;
    color:blue;
}

.Elink6:hover{
    text-decoration: underline;
    color:blue;    
}

.Elink7:hover{
    text-decoration: underline;
    color:blue;
}

.Elink8:hover{
    text-decoration: underline;
    color:blue;
}

.Line3{
    position: relative;
    width: 550px;
    bottom: 60px;
    color: #ededed;
    opacity: .1;
}

.Gsearch{
    position:relative;
    left:92px;
    bottom:52px;
}

.numbers{
    position:relative;
    left:135px;
    bottom:60px;
    color:#0000e7;
}

.one{
    position: relative;
    right: 1px;
}

.one:hover{
    text-decoration: underline;
    color:blue;
}

.two{
    position: relative;
    left: 19px;
    bottom: 20px;
}

.two:hover{
    text-decoration: underline;
    color:blue;
}

.three{
    position: relative;
    left: 39px;
    bottom: 40px;
}

.three:hover{
    text-decoration: underline;
    color:blue;
}

.four{
    position: relative;
    left: 58px;
    bottom: 60px;
}

.four:hover{
    text-decoration: underline;
    color:blue;
}

.five{
    position: relative;
    left: 78px;
    bottom: 80px;
}

.five:hover{
    text-decoration: underline;
    color:blue;
}

.six{
    position: relative;
    left: 98px;
    bottom: 100px;
}

.six:hover{
    text-decoration: underline;
    color:blue;
}

.seven{
    position: relative;
    left: 119px;
    bottom: 120px;
}

.seven:hover{
    text-decoration: underline;
    color:blue;
}

.eight{
    position: relative;
    left: 139px;
    bottom: 140px;
}

.eight:hover{
    text-decoration: underline;
    color:blue;
}

.nine{
    position: relative;
    left: 159px;
    bottom: 160px;
}

.nine:hover{
    text-decoration: underline;
    color:blue;
}

.ten{
    position: relative;
    left: 176px;
    bottom: 180px;
}
.ten:hover{
    text-decoration: underline;
    color:blue;
}

.Next:hover{
    text-decoration: underline;
}
.Next{
    position: relative;
    left: 376px;
    bottom: 260px;
    color:#0000e7;
}

.Searches{
    position: relative;
    bottom: 30px;
}

